<!DOCTYPE html>
<!--
	TODO: Task 1, Task 2, Task 3
-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Login</title>
	</head>
	<body>

		<h2>Please Login</h2>

		<form th:action="@{/login}" th:object="${loginForm}" method="post">
			<table>
				<tr>
					<td>
						<label for="username">Username:</label>
					</td>
					<td>
						<input type="text" id="username" size="30"
								placeholder="Please type in your username" th:field="*{username}">
						<span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red
								;"></span>
					</td>
				</tr>
				<tr>
					<td>
						<label for="password">Password:</label>
					</td>
					<td>
						<input type="password" id="password" size="30"
								placeholder="Please type in your password" th:field="*{password}">
						<span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red;"></span>
					</td>
				</tr>
				<tr th:if="${captcha != null}">
					<td>
						<label for="captcha" th:text="|What is ${captcha.query}? (Round to nearest integer)|"></label>
					</td>
					<td>
							<input type="number" id="captcha" size="30"
									placeholder="Answer" th:field="${captcha.inputSolution}">
							<span class="error" th:if="${captchaError != null}" th:text="${captchaError}" style="color: red;"></span>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<button type="submit">Login</button>
					</td>
				</tr>
			</table>
		</form>
		<span class="error" th:if="${loginError != null}" th:text="${loginError}" style="color: red;"></span>
		
	</body>
</html>
